<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.cbus.mapper.InitMapper">

    <resultMap id="ModelAndPerm" type="com.cbus.token.ModelAndPerm" >
        <id property="id" column="id"/>
        <!-- column 是数据库中的字段名 property 是pojo中的属性名 -->
        <result property="modid" column="modid"/>
        <result property="pid" column="pid"/>
        <result property="icon" column="icon"/>
        <result property="cid" column="cid"/>
        <result property="vue" column="vue"/>
        <result property="path" column="path"/>
        <result property="opt" column="opt"/>
        <result property="perm" column="perm"/>
        
        <!-- 级联查询 一对多 -->
        <collection property="dsids" ofType="com.cbus.token.ModelDataset">
            <id property="id" column="t2_id"/>
            <result property="dsid" column="dsid"/>
            <result property="dtype" column="dtype"/>
        </collection>
    </resultMap>
    
    <select id="Initialize" parameterType="string" statementType="CALLABLE" resultMap="ModelAndPerm"> 
        call p_init(#{value})
    </select>
    
</mapper>